body {
  background-image: url(../assets/imgs/awan.jpg);
  background-size: cover;
  font-family: 'Poppins', sans-serif;
}

.card-login {
  padding-top: 100px;
  border: 0;
  border-radius: 16px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
}

.card-login, .card-body {
  padding: 24px;
}

.form-login {
  width: 100%;
}

.form-login, .btn {
  font-size: 18px;
  border-radius: 80px;
  padding: 16px;
}